.nav {
    width: 100%;
    border-bottom: 1px solid var(--midgrey);
}

.navContainer {
    width: 96%;
    margin: auto;
    padding: 1.1rem 0rem;
}

.navDisplayButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .38rem .85rem;
    width: fit-content;
    border-radius: .42rem;
    border: 1px solid var(--midgrey);
    cursor: pointer;
    box-shadow: 0px 0px 6px 1.8px var(--midgrey);
}

.navDisplayDropdown {
    display: none;
    width: fit-content;
    z-index: 2;
    margin-top: .62rem;
    position: absolute;
    border-radius: .52rem;
    padding: .85rem 1rem;
    background-color: var(--lightgrey);
    border: 1px solid var(--midgrey);
}

.navDisplayDropdownShow {
    display: block;
}

.navDisplayFilters {
    width: 258px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navDisplayFilters:first-child {
    margin-bottom: .48rem;
}

.navDropdownCategory {
    font-weight: 510;
    color: var(--textgrey);
}

.navSelector {
    padding: .32rem;
    width: 98px;
    cursor: pointer;
    border-color: var(--midgrey);
    border-radius: .32rem;
    font-weight: 590;
}

.navDisplayButton:hover {
    box-shadow: 0 0 9px 4.8px var(--lightgrey);
}

.navDisplayIcon {
    display: flex;
    align-items: center;
}

.navDisplayFilter {
    margin-right: .62rem;
}

.navDisplayFilter > img {
    height: 13px;
    fill: var(--midgrey);
}

.navDisplayHeading {
    font-weight: 510;
}

.navDisplayDrop {
    margin-left: .35rem;
}

.navDisplayDrop > img {
    height: 15px;
}
