@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}


@media (max-width: 700px) and (min-width: 300px){
  .cards{
    flex-direction: column;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: calc(100vh - 67px);
  background-color: var(--grey2);
  overflow-x: scroll;
}
.cards{
  display: flex;
  width: fit-content;
}
:root{
  --white1: #ffffff;
  --black1: #000000;

  --textgrey: #808184;

  --grey1: #dfe4e9fb;
  --grey2: #f0f1f4fb;
  --grey3: #F8F8FAfb;

}
